/* Todos os elementos */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url(https://img.freepik.com/fotos-gratis/interior-do-restaurante_1127-3394.jpg?w=1380&t=st=1661012642~exp=1661013242~hmac=7de9e15b69d8286be08136705f4b8090dde251a4d8ed3888f14fd2b7233e79b0);
    background-color: #FFEDD5; /* hex: 0-F */
    font-family: 'Roboto', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  /* Fontes */
  h1, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: #2D2C2A;
  }
  
  /* Header */ 
  header {
    padding: 32px 0;
    text-align: center;
  }
  
  header,
  section {
    max-width: 300px;
    margin: 0 auto;
  }
  
  header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
  }
  
  header h1 span {
    color: #995000;
  }
  
  header p {
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(0, 0, 0, 0.7)
  }
  
  /* Sections */
  section {
    margin-bottom: 24px;
  }
  
  section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;
  
    margin-bottom: 24px;
    font-size: 18px;
  }
  
  ul li {
    margin-bottom: 16px;
    display: flex;
  }
  
  li .details {
    max-width: 240px;
  }
  
  .details h3 {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
  }
  
  .details p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
  }
